
.card {
  box-shadow: 0px 0px 10px 1px #00000015;
  border-radius: 5px; 
  border-color: #ffffff;
  height: 100%;
}

.card-bottom {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.card img {
  width: 60%;
  opacity: 0.4;
}

.card:hover img {
  opacity: 1;
}

.title {
  font-weight: 900;
}

.content {
  font-size: 0.9em;
}

.link {
  font-size: small;
  color: rgba(0,0,0,0.7);
  text-decoration: none; 
}

.link-decor:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #D79AFF;
  text-underline-offset: 2px;
}

a {
  text-decoration: none;
}

.arrow {
  border: solid #00000040;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  margin-bottom: 1px;
  margin-left: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}